.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    box-shadow: 1px 1px 2px 1px silver;
    background-color: black;
    color: white;
}

.lists {
    color: white;
}

.lists :hover {
    color: skyblue
}

.ant-input-group .ant-input {
    border-radius: 2em;
}

body {
    background-color: gray;
}

.registerform {
    width: 25%;
    margin-left: 37.5%;
    justify-content: center;
    padding: 1em;
    margin-top: 5%;
}

.registerform input {
    margin-bottom: 1em;
}